@import '../../common/common';

.timeofday {
  height: 100%;
  width: 100%;
  display: flex;
  p {
    width: 66%;
    font-size: $biggest-font;
    i {
      font-size: $icon-font;
    }
  }
  .giphy {
    width: 34%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 1s ease-in;
  }
}