@import '../../common/common';

@keyframes fadein {
    0% { opacity: 0; }
   50% { opacity: 0; }
   60% { opacity: 1; }
  100% { opacity: 1; }
}

.words {
  height: 100%;
  background: white;
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  i {
    margin: $default-padding;
    animation: fadein 25s;
  }
}