@import '../../common/common';

#todo {
  height: 100%;
  position: relative;
  .e1a-clipboard {
    margin-right: 5px;
  }
  ul {
    li {
      margin-top: 4px;
      white-space: nowrap;

      i {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  &:after {
    content : "";
    position : absolute;
    z-index : 1;
    bottom : 0;
    left : 0;
    pointer-events : none;
    background-image : linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, $part-background-color 100%);
    width : 100%;
    height : 2em;
  }    
}