$color-calendar-main: #EF4D3C;

.calendar {
  height: 100%;
  display: flex;
  .icon {
    padding: 0.5em;
    time {
      font-size: 0.6rem;
      display: block;
      position: relative;
      width: 7em;
      height: 7em;
      background-color: #fff;
      border-radius: 0.6em;
      overflow: hidden;
    }
    time * {
      display: block;
      width: 100%;
      font-size: 1em;
      font-weight: bold;
      font-style: normal;
      text-align: center;
    }

    time strong {
      position: absolute;
      top: 0;
      padding: 0.4em 0;
      color: #fff;
      background-color: $color-calendar-main;
    }
    time span {
      font-size: 4em;
      letter-spacing: -0.05em;
      padding-top: 0.4em;
      color: #222;
    }
    .e1a-birthday {
      font-size: 5em;
    }
    
  }
  ul {
    overflow-y: hidden;
    overflow-x: hidden;
    li {
      list-style-type: none;
      margin-bottom: 0.5em;
      strong {
        white-space: nowrap;
      }
      i {
        font-style: normal;
        height: 0.8em;
      }
    }
  }
}