$default-padding: 0.5em;

// colors
$text-color: #FBFBFB;
$main-background: #1E1E1E;
$tile-background: #3F3F46;
$part-background-color: rgb(40, 40, 40);

// font sizes
$biggest-font: 3vw;
$big-font: 1.7vw;
$normal-font: 1.1vw;
$small-font: 0.9vw;
$icon-font: 6vw;


.small-text {
  font-size: $small-font;
}
.big-text {
  font-size: $big-font;
}
.bold-text {
  font-weight: bold;
}
.padded {
  padding: $default-padding;
}
