@import './themes';

@keyframes fadein {
    0% { opacity: 0; }
   60% { opacity: 0; }
   70% { opacity: 0.5; }
   80% { opacity: 1; }
  100% { opacity: 1; }
}

.emojiAndText {
  height: 100%;
  background: white;
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include themify($themes) {
    background: themed('backgroundColor')
  }

  p {
    font-weight: bold;
    width: 100%;
    text-align: center;

    @include themify($themes) {
      color: themed('textColor')
    }
  }
  i {
    font-size: 25vh;
    margin: 0.2em;
  }
  .animate-appear {
    animation: fadein 30s;
  }
}
