@import '../common/common';

.board {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display : grid;
  grid-gap: 5px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.part {
  background: $part-background-color;
  border-radius: 5px;
  //outline: 1px solid whitesmoke;
}
