$tile-background: #3F3F46;

.board {
  height: 100%;
  display : grid;
  grid-gap: 5px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.part {
  background: rgb(40, 40, 40);
  border-radius: 5px;
  //outline: 1px solid whitesmoke;
}
