@use 'common';
$color-calendar-main: #EF4D3C;

.calendar {
  height: 100%;
  display: flex;
  .icon {
    padding: 0.5em;
    time {
      font-size: 0.45em;
      display: block;
      position: relative;
      width: 7em;
      height: 7em;
      background-color: #fff;
      border-radius: 0.6em;
      overflow: hidden;
    }
    time * {
      display: block;
      width: 100%;
      font-size: 1em;
      font-weight: bold;
      font-style: normal;
      text-align: center;
    }

    time strong {
      position: absolute;
      top: 0;
      padding: 0.4em 0;
      color: #fff;
      background-color: $color-calendar-main;
    }
    time span {
      font-size: 4em;
      letter-spacing: -0.05em;
      padding-top: 0.4em;
      color: #222;
    }
  }
  ul {
    position : relative;
    li {      
      border-radius: 3px;
      border-left: 3px solid transparent;
      padding-left: 3px;
      list-style-type: none;
      margin-bottom: 0.5em;
      strong {
        white-space: nowrap;
      }
      i {
        font-style: normal;
      }
    }
    &:after {
      content : "";
      position : absolute;
      z-index : 1;
      bottom : 0;
      left : 0;
      pointer-events : none;
      background-image : linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, common.$part-background-color 100%);
      width : 100%;
      height : 2em;
    }
  }
}