@use './themes';
@use  './fadein';

.emojiAndText {
	height: 100%;
	background: white;
	color:black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include themes.themify(themes.$themes) {
		background: themes.themed('backgroundColor')
	}

	p {
		font-weight: bold;
		width: 100%;
		text-align: center;

		@include themes.themify(themes.$themes) {
			color: themes.themed('textColor')
		}
	}
	i {
		margin: 0.2em;
	}
	.animate-appear {
		animation: fadein 12s;
	}
}
