@use 'common';

.football {
	margin-top: common.$default-padding;
	height: 100%;
	width: 100%;
	p {
		text-align: center;
	}
	.teamLogo {
		vertical-align: middle;
		display: inline-block;
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: center;
		width: 20px;
		height: 20px;
	}
}
