@use 'sass:map';
@use 'common';

$themes : (
	dark1 : (
		backgroundColor : common.$part-background-color,
		symbolColor: #4ED354,
		textColor: #BD93F9,
	),
	dark2 : (
		backgroundColor : common.$part-background-color,
		symbolColor: #FF79C6,
		textColor: #FBFBFB,
	),
	light : (
		backgroundColor : white,
		symbolColor: rgb(18, 62, 119),
		textColor: black,
	)
);


@mixin themify($themes: $themes) {
	@each $theme, $map in $themes {

		@at-root .theme-#{$theme}#{&} {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map.get(map.get($themes, $theme), '#{$key}');
				$theme-map: map.merge($theme-map, ($key: $value)) !global;
			}

			@content;
			$theme-map: null !global;
		}
	}
}


@function themed($key) {
	@return map.get($theme-map, $key);
}