$text-color: #FBFBFB;
$main-background: #1E1E1E;
$a-tags: 'a, a:active, a:hover, a:visited, a:active';

* {
  margin: 0;
  padding: 0;
  //outline: 1px solid magenta;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: magenta;
  margin: 0;
  color: $text-color;
  font-family: 'Quicksand', sans-serif;
}

#app {
  height: 100%;
}

#main {
  background-color: $main-background;
  height: 100%;
}

#fourofour {
  font-size: 5rem;
  text-align: center;
}