@import '../../common/common';

@keyframes move-image {
    0% { background-size: 100%; }
   25% { background-size: 100%; }
   50% { background-size: 150%; }
   75% { background-size: 150%; }
  100% { background-size: 100%; }
}

.family {
  height: 100%;
  width: 100%;
  animation: move-image 60s linear infinite;
  position: relative;
  i {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: $biggest-font;
  }
}

.family-overlay {
  padding : $default-padding;
  background-color: rgba(0, 0, 0, 0.5);
}

.family-text {
  font-size: $small-font;
}
