@import '../../common/common';

@keyframes move-image {
    0% { background-size: 100%; }
   15% { background-size: 100%; }
   50% { background-size: 150%; }
   85% { background-size: 150%; }
  100% { background-size: 100%; }
}

.family {
  height: 100%;
  width: 100%;
  animation: move-image 30s linear infinite;
  position: relative;
  .status {
    line-height: 100%;
    span {
      color: indianred;
      font-weight: bold;
      margin-right: 0.4em;
      vertical-align: bottom;
    }
    i {
      margin: 0px;
    }
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

.family-overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
