#weather {
  font-size: calc(0.5vw);
  padding: 2em;
  p {
    margin: 0;
    font-size: 4em;
  }
}

.temperature {
  font-size: 8em;
  font-weight: bold;
  margin-right: 0.5em;
}

.temperatureMinMax {
  font-size: 4em;
  margin-right: 0.5em;
}

.wi {
  font-size: 6em;
  margin-right: 0.5em;
}
