@import '../../common/common';

.weather {
  font-size: $big-font;
  padding: $default-padding;
  img {
    vertical-align: middle;
    margin-right: $default-padding;
  }  
}

.temperature {
  vertical-align: middle;
  font-size: $biggest-font;
  font-weight: bold;
  margin-right: $default-padding; 
}

#minTemp {
  color: #52D9E2;
}
#maxTemp {
  color: #D82665
}


.wi {
  vertical-align: middle;
  font-size: $biggest-font;
  margin-right: $default-padding;
}
