@import '../../common/common';

.weather {
  font-size: $big-font;
  padding: 0.5em;
  img {
    vertical-align: middle;
    margin-right: $default-padding;
  }  
}

.temperature {
  vertical-align: middle;
  font-size: $biggest-font;
  font-weight: bold;
  margin-right: 0.5em;
}

.temperatureMinMax {
  font-weight: bo;
  margin-right: 0.5em;
}

.wi {
  font-size: $biggest-font;
  margin-right: 0.5em;
}
